body{
    background-color: rgba(111, 200, 52, 0.87);
    height: 25cm;
    background-color: red;
    background-image: linear-gradient(rgb(0, 255, 234), yellow);
}
.box{
    background-color: azure;
    width: 40%;
    margin-top: 60px;
    padding-left: 2cm;
    padding-right: 2cm;
    height: 9cm;
}

.submit-btn{
    background-color: rgb(81, 236, 10);
    padding: 2%;
    
}
h2{
    font-size: 50px;
    border: 2px solid rgb(6, 15, 8);
    border-radius: 12px;
    padding: 5px;
    background-color: antiquewhite;
}

.img{
    transform: translate(0,0);
    transition: transform 2s; height: 2s; width: 2s;
    padding-top: 50px;

}
.img:hover{
    height: 100px;
    width: 300px;
    transform: rotate(180deg);
}


